<div class="footer">
  <div class="footer-links">
    <%= link_to friendships_path do %>
      <i class="fas fa-users"></i>
    <% end %>
    <%= link_to new_challenge_path do %>
      <i class="fas fa-plus-circle"></i>
    <% end %>
    <%= link_to users_path do %>
      <i class="fas fa-user-plus"></i>
    <% end %>
  </div>
</div>
