<div class="landing-page-image">

  <div class="container">
      <div class="landing-page-text">
        <h5>Change your life.</h5>
        <h5>Join my2022.</h5>
      </div>

      <div class="join-button">
        <%= link_to "Join Now", challenges_path, class: "btn btn-warning" %>

      </div>
</div>

<div class="testimonials">

    <div class="landing-page-testimonials">

      <h3>♥️♥️ <strong>"20 miles/day..."</strong> Mo F., 38</h3>
      <h3>♥️♥️♥️ <strong>"Wir schaffen das!" </strong> Angela M., 66</h3>
      <h3>♥️♥️♥️ <strong>"Better than Mars!"</strong> Elon M., 49</h3>
    </div>

    <div class="landing-page-quote">
      <h4>“Habit is habit, and not to be flung out of the window by any man, but coaxed down-stairs one step at a time.” (Mark Twain)</h4>
    </div>
  </div>

