<div class="landing-page-image">

  <div class="container">
      <div class="landing-page-text">
        <h1>Change your life.</h1>
        <h1>Join my2022.</h1>
      </div>

      <div class="join-button">
        <%= link_to "Join Now", challenges_path, class: "btn btn-warning" %>

      </div>
</div>

<div class="testimonials">

    <div class="landing-page-testimonials">

      <h2>♥️♥️ "Couldn't do my 20 miles/day without this app", Mo F., 38, from London</h2>
      <h2>♥️♥️♥️ "Mit dieser App schaffen das", Angela M., 66, from Berlin</h2>
      <h2>♥️♥️ "Join this app to reach Mars", Elon M., 49, from Austin</h2>
    </div>

    <div class="landing-page-quote">
      <p>“Habit is habit, and not to be flung out of the window by any man, but coaxed down-stairs one step at a time.” (Mark Twain)</p>
    </div>
  </div>

