.challenge-header {
  // border-style: solid;
  text-align: center;
  justify-content: center;
  margin: 10px 0;
}

.challenge-user-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 15px 0px;
  gap: 10px;

  img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
  }

  div {
    display: flex;
    min-height: 50px;
    min-width: 50px;
    border-radius: 50%;
    border-style: solid;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: lightgrey;
    border-color: lightgrey;
  }
}

.challenge-flexbox-center {
  display: flex;
  justify-content: center;
  text-align: left;

}

.challenge-small-text {
  font-size: 9px;
}

.number-with-orange-background {
    margin: 0;
    background-color: #F3B64B;
    padding: 0px 5px;
    border-radius: 6px;
    margin: 0 5px 0 0;
    height: 45px;
    width: 60px;
  }

.challenge-h2 {
  font-weight: 600;
  font-size: 18px;
  color: #235173;
  text-align: center;
}

.challenge-h1 {
  font-weight: 600;
  font-size: 24px;
  color: #235173;
}

.all-centered {
  justify-content: center;
}

.goal-titel {
  font-weight: 600;
  font-size: 18px;
  color: white;
  background-color: #235173;
  border-radius: 3px;
}

.goal-tabs.nav-tabs {
  border: none;
  text-align: center;
  display: flex;
  justify-content: center;
  .nav-link {
    border: none;
    background: lightgrey;
    height: 20px;
    width: 20px;
    padding: 0;
    border-radius: 50%;
    margin: 10px;
    &.active {
      background-color: #16496f;
    }
  }
}

.challenge-titel {
  position: relative;
}

.diary_position {
  // position: absolute;
  // top: 20px;
  // right: 20px;
  width: 30px;
  height: 30px;
}

.challenge-days-left-details {
  margin-left: 10px;
  color: #16496f;
}




