.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.new_challenge {

  input {
    border-radius: 6px;

  }

  select {
    border-radius: 6px;

  }
}

.simple_form {

  input {
    border-radius: 6px;
  }

  select {
    border-radius: 6px;
  }
}

.required {
  color: #17496F;
}

.optional {
  color: #17496F;
}

