.goal-container {
  width: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 5px;
  align-items: center;
  margin: 0 auto;
}

.goal-top-row {
  // border-style: solid;
  display: flex;

}

.goal-table-header {
  font-size: 9px;
  text-align: center;
}

.goal-table-user-name {
  font-size: 14px;
  color: #235173;
}

.goal-table-user-current-value {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.goal-table-user-delta-value {
  font-size: 18px;
  text-align: center;
}

.goals-targets-total-day {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.goal-tabs {
  margin-top: 50px;
  margin-bottom: 0;
}

.progress-row {
  margin-right: 20px;
}




