.goal-container {
  min-width: 340px;
  max-width: 340px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 5px;
  align-items: center;
}

.goal-top-row {
  // border-style: solid;
  display: flex;

}

.goal-table-header {
  font-size: 9px;
  text-align: center;
}

.goal-table-user-name {
  font-size: 14px;
}

.goal-table-user-current-value {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.goal-table-user-delta-value {
  font-size: 18px;
  text-align: center;
}


