.navbar-lewagon {
  display:flex;
  justify-content: space-between;
  background: #F3B64B;
  width: 100%;
}

.navbar-nav {
  display:flex;
  justify-content: space-between;
  align-item: center;
}

.dropdown-menu {
  border-radius: 6px;
  text-align: center;
  border: none;
  padding: 0;
}

.dropdown-item {
  color: #17496F;
}

.img-logo {
  margin-left: 10px;
  width: auto;
  height: 50px;
  border-radius: 0;
}

.navbar-collapse {
  margin-right: 20px;
}

.navbar-light .navbar-nav .nav-link  {
  color: white;
  margin-left: 15px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #B21F2A;
}

.navbar-right {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
}

// .navbar-text {
//   display: flex;
//   justify-content: space-between;
//   margin-right: 20px;
// }

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-toggler {
  border-radius: 6px;
}

