<div class="container">
 <%#= link_to :back do %>
 <!-- <i class="fas fa-arrow-left"></i> -->
 <%# end %>


  <div class="notes-upload">
    <h2 class="text-center">Team Feeling</h2>
  </div>

  <%= image_tag "smiley-top.svg", class:"image-diary smiley" %>

  <div class="notes-upload">
    <h2 class="text-center">Notes</h2>
    <i class="fas fa-plus add_icon"></i>
  </div>

  <%= image_tag ("notes_diary"), class:"image-diary" %>

  <div class="notes-upload">
    <h2 class="text-center">Memories</h2>
    <i class="fas fa-upload upload_icon"></i>
  </div>

  <%= image_tag "photo_diary.svg", class:"image-diary photo-di" %>

</div>


