<div class="container">
 <%#= link_to :back do %>
 <!-- <i class="fas fa-arrow-left"></i> -->
 <%# end %>

  <div class="notes-upload">
    <h2 class="text-center">Team Feeling</h2>
  </div>

  <div class="notes-upload">
    <h2 class="text-center">Notes</h2>
    <i class="fas fa-plus add_icon"></i>
  </div>

  <div class="notes-upload">
    <h2 class="text-center">Memories</h2>
    <i class="fas fa-upload upload_icon"></i>
  </div>

</div>


